.p-messages {
    min-height: 100%;
    padding: 30px;
    text-align: center;
}

.p-messages h1 {
    text-align: center;
    color: #1569a8;
}

.p-messages .btn {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #1569a8;
    background: white;
    color: #1569a8;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.p-messages .btn :hover {
    background: #1569a8;
    color: white;
    transition: .5s;
}

.p-messages .accordion {
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
}

.p-messages .messages-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-messages .add-msg-img {
    width: 50px;
    height: 50px;
    color: red;
    cursor: pointer;
}