.c-message-details-card {
    text-align: left;
}

.c-message-details-card .special-font {
    font-family: 'Raleway', sans-serif;
}

.c-message-details-card .bold-font {
    font-weight: bold;
}

.c-message-details-card .card {
    /* max-width: 345px; */
    display: flex;
}

.c-message-details-card .media {
    height: 280px;
    width: 280px;
}

.c-message-details-card .area {
    display: flex;
    justify-content: left;
}

.c-message-details-card .details-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}