    .c-hoa-navbar {
        color: white;
        background-color: green;
    }
    
    .c-hoa-navbar a {
        color: white;
    }
    
    .c-hoa-navbar h3 {
        white-space: nowrap;
        font-family: 'Raleway', sans-serif;
    }
    
    .c-hoa-navbar h4 {
        white-space: nowrap;
        font-family: 'Raleway', sans-serif;
    }
    
    .c-hoa-navbar .menu-container {
        background-color: black;
    }
    
    .c-hoa-navbar .nav-container {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .c-hoa-navbar .user-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .c-hoa-navbar .links-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 10%;
    }
    
    .c-hoa-navbar .user-img {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }